docker/mysql/data/*
!docker/mysql/data/.gitkeep
docker/mysql/logs/*
!docker/mysql/logs/.gitkeep
src/.env
src/.env.*
src/.env
src/.env.*
src/.env.*.bak*
src/.env.bak.*
src/.env
src/.env.*
src/.env.*.bak*
src/.env.bak.*
